body{
	background-color: #d3d3d3;
	margin:0;
}
#svgmain{
	background-color: white;
	margin: 0 auto;
	display: block;
	height:90vh;
	width: 100%;
}
#bar{
	font-size: 40px;
	font-weight: 600;
	font-family: tahoma;
	height: 55px;
}
#bar > div{
	float: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.botao{
	background-color: #0cd218;
	width: 25px;
	height: 35px;
	cursor: pointer;
	margin-bottom: 4px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	float: left;
	margin-right: 5px;
}
.botao > img{
	height: 100%;
	width: 100%;
	border: 1px black solid;
	margin: 0;
	padding: 0;
}
#btnCarregarImagem{
	display: none;
}
.draggable{
	cursor:pointer;
}
#ferramentas{
	width: 67px;
	background-color: grey;
	position: absolute;
	z-index: 1;
	top:80px;
	color: white;
	margin: 0;
	padding: 3px;
}

#ferramentas > div{
	float: left;
}
#ferramentas::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
}
#ferramentas::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
#pontoVetores{
	width: 67px;
	height: 400px;
	background-color: grey;
	position: absolute;
	z-index: 1;
	top:208px;
	color: white;
	margin: 0;
	padding: 3px;
	overflow-y: scroll;
}
#pontoVetores::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
}
#pontoVetores::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
#camada_pontos,
#camada_pontos > tbody{
	width: 100%;
}
.linha-ponto{
	padding-bottom: 7px;
}
.linha-ponto:hover{
	background-color: lavender;
	color: black;
}
#cores{
	background-color:red;
	width: 100px;
	height: 100px;
	margin-top: 25px;
	position: absolute;
	z-index: 2;
	right: 0;
}
#textoCores{
	background-color:yellow;
	width: 100%;
	height: 25%;
}
#divCores{
	background-color:brown;
	width: 100%;
	height: 75%;
}
.coresSub{
	width: 11px;
	height: 13px;
	float:left;
	margin-left: 5px;
	margin-top : 5px;
}